:root{
    --orange: orange;
}
*{
    margin: 2px;
    padding: 2px 5px 8px 0px;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition:all .2s linear;
}
*::selection{
    background:var(--orange);
    color: white;
}
html{
    font-size: 62.5%;
    overflow-x:hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
}
header{
    position: fixed;
    top: 0; left: 0; right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white;
    padding: 2rem 9%;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
}
.logo img{
    width: 300px;
    height: auto;
    padding: 0px 0px 0px 0px;
    margin: -80px 0px -85px -30px;
}
header .navbar a{
    font-size: 2rem;
    margin-left: 2rem;
    color: #666;
}
header .navbar a:hover{
    color: var(--orange);
}
.menu img{
    font-size: 3rem;
    cursor: pointer;
    width: 60px;
    height: auto;
    display: none;
    margin-right: 30px;
}
.menu{
    transition: transform 0.3s;
}
.rotate-animation {
    transform: rotate(360deg);
}
.home{
  position: center;
}
.home .content{
    flex: 1 1 40rem;
    padding-top: 10rem;
    margin-top: 10px;
}
.text{
    width: 100%;
    margin: 120px 200px 0px 150px;
    font-size: 20px;
    font-family: Baskerville, serif;
    height: auto;
    color: rgb(255, 190, 12);
    position: relative;
}
.text h1{
    width: 100%;
    height: auto;
    font-size: 42px;
    color: rgb(46, 228, 0);
  }  
  .button {
    padding: 1.3em 3em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 1000;
    color: white;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    margin-right: 40px;
    background-color: rgb(97, 226, 97);
    position: absolute; /* Position the button */
    top: 240px; /* Adjust the bottom position */
    left: 20px; /* Adjust the right position */
  }
  
  .button:hover {
    background-color: green;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(7px);
  }
  
  .button:active {
    transform: translateY(1px);
  }
  
  @media (max-width: 767px) {
    .button {
      margin-left: 120px;
      margin-top: 130px;
    }
  }
.slider {
  width: 35%;
  overflow: hidden;
  margin: -300px 0px 0px 860px;
  position: absolute;
}

.slider img {
  width: 100%;
  display: none;
  animation: fade 3s infinite;
}

.slider img:first-child {
  display: block;
}
@keyframes fade {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.video-container {
  position: relative;
  width: 100%;
  height: 110vh;
  overflow: hidden;
}
video {
  position: absolute;
  top: 0;
  right: 0px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/*media quaries*/
@media(max-width:991px){
    html{
        font-size: 55%;
    }
    header{
        padding: 2rem;

    }
}
@media(max-width:768px){
    .menu img{
        display: initial;
    }
    header .navbar{
        position: absolute;
        top: 100%; left: 0; right: 0;
        background: white;
        border-top: 1rem solid rgba(0,0,0,.1);
        clip-path: polygon(0 0,100% 0,100% 0,0 0);
    }
    header .navbar.active{
        clip-path: polygon(0 0,100% 0, 100% 100%, 0% 100%);
    }
    header .navbar a{
        margin: 1.5rem;
        padding: 1.5rem;
        display: block;
        border-left: 2rem solid var(--orange);
        background: white;
    }
}
@media(max-width:400px){
    html{
        font-size: 50%;
    }
}
footer{
  width: 100%;
  position: inherit;
  bottom: 0;
  padding: 50px 0 30px;
  border-radius: 20px;
  font-size: 13px;
  line-height: 20px;
}
.row{
  width: 85%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
   justify-content: space-between;
}
.col{
  flex-basis: 25%;
  padding: 10px;
}
.email{
  width: fit-content;
  border-bottom: 1px solid black;
  margin: 20px 0;
  cursor: pointer;
}
form{
  padding-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid black;
  margin-bottom: 50px;
}
form.far{
  font-size: 18px;
  margin-right: 10px;
}
form input{
  width: 100%;
  background: transparent ;
  color: black;
  border: 0;
  outline: none;
}
form button{
  background: transparent;
  cursor: pointer;
  border: 0;
  outline: none;
}
.social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin:-100px 0px 0px 850px;
}

.icon {
  display: inline-block;
  position: relative;
  margin: 10px;
}

.icon img {
  width: 45px;
  height: auto;
  transition: filter 0.3s ease;
}

.icon-name {
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translate(-50%, 10px);
  opacity: 0;
  visibility: hidden;
  background-color: rgba(37, 252, 9, 0.8);
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.3s ease;
}

.icon:hover .icon-name {
  opacity: 1;
  visibility: visible;
  transform: translate(-50%, 0);
}

@keyframes spin {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
.icon:hover img {
  filter: brightness(150%);
  animation: spin 1s infinite;
} 
hr{
  width: 90%;
  border: 0;
  background-color: black;
  border-bottom: 1px xolid black;
  margin: 10px auto;
}
.end{
  text-align: center;
}
@media (max-width: 700px){
  footer{
    bottom: unset;
  }
  .col{
    flex-basis: 100%;
  }
  .col:nth-child(2), .col:nth-child(3){
    flex-basis: 100%;
  }
}
@media (max-width: 767px) {
  /* Adjust styles for mobile devices */
  .container {
    align-items: left;
    text-align: left;
  }
  .text{
    margin: 10px 0px 0px 10px;
  }
  .social-icons{
    margin-left: 20px;
    margin-top: 1px;
  }
}
body.loading {
  overflow: hidden;
}

.loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}
.overlay{
  position: fixed;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  background: white;
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
  z-index: 10;
}
.overlay:target{
  visibility: visible;
  opacity: 1;
}
.wrapper{
  margin-top: 180px;
  padding: 20px;
  background: #e7e7e7;
  border-radius: 5px;
  width: 100%;
  position: relative;
  transition: all 5s ease-in-out;
}
.wrapper h2{
  margin-top: 0;
  color: black;
}
.wrapper .close{
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: orange;
}
.wrapper .content{  
  max-height: 100%;
  overflow: auto;
}
.container{
  border-radius: 5px;
  background-color: white;
  padding: 20px 0;
}
form label{
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 3px;
}
input[type=text], textarea{
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;  
}
input[type="submit"]{
  background-color: rgb(8, 223, 8);
  color: white;
  padding: 15px 30px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-top: 200px;
  margin-left: 550px;
  width: 10%;
  position: absolute;
}
@media (max-width: 767px) {
  input[type="submit"]{
    margin-top: 200px;
    position: absolute;
    margin-left: 180px;
    letter-spacing: 3px;
    padding: 15px 12px;
    font-size: 12px;
    width: 20%;
  }
}
@media only screen and (max-width: 600px) {
  .container {
    max-width: 600px;
    margin: 0 auto;
  }
  .container label,
  .container input,
  .container textarea[type="text"]{
    width: 60%;
  }
  .container input[type="submit"] {
    width: 20%;
  }
}
#orderFormWrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  z-index: 9999; /* Higher z-index to ensure it covers the content */
  visibility: hidden; /* Initially hidden */
}

#orderFormWrapper.show {
  visibility: visible; /* Show the form */
}

/* Additional styles for the form */
#orderForm {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
}
/* Styles for the buttons */
#submitOrder, #cancelOrder {
  margin-top: 10px;
  background-color: green;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
@media only screen and (max-width: 600px) {
  .container {
    max-width: 600px;
    margin: 0 auto;
  }
  .container label,
  .container input,
  .container textarea[type="text"]{
    width: 60%;
  }
  .container input[type="submit"] {
    width: 20%;
  }
}